.popup {
  position: absolute;
  left: 80%;
  top: 100%;
  z-index: 10;

  &__content {
    width: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #000000bf;
  }

  &__close-btn {
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
  }

  &__btn {
    width: 10px;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__btn-description {
    margin: 0;
    margin-left: 14px;
  }
}
