.event {
  position: absolute;
  width: 80%;
  background-color: #6495ed;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  cursor: pointer;

  &__title {
    font-weight: 700;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__description {
    margin-top: 10px;
    overflow-x: auto;
  }
  &__close-btn {
    position: absolute;
    top: 2px;
    right: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;

    &:hover {
      color: #fff;
    }
  }

  &:hover {
    font-weight: bold;
    background-color: #cf0b0bc4;
  }
}
