.event {
  position: absolute;
  width: 80%;
  background-color: #6495ed;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  cursor: pointer;

  &__title {
    font-weight: 700;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__description {
    margin-top: 10px;
  }

  &:hover {
    font-weight: bold;
    background-color: #cf0b0b;
  }
}
