.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}

.create-event-btn {
  display: flex;
  align-items: center;
  padding-right: 16px;
  box-shadow: 0px 4px 4px -3px #000000bf;

  &__icon {
    margin-right: 8px;
  }
}

.create-event-description {
  margin-left: 5px;
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
  }

  &__displayed-month {
    margin-left: 10px;
  }
}
